.tag {
	padding: 0.5rem 1rem;
	margin: 0.5rem;
	background: #f2f2f2;
	border-radius: 25px;
	color: #333;
	font-weight: 600;
	/* text-transform: uppercase; */
	letter-spacing: 0.05em;
	display: flex;
	align-items: center;
}

.tag--in-stock {
	background-color: lavender;
}

.tag--low {
	background-color: lightyellow;
}

.tag--out {
	background-color: #f2f2f2;
}
